:root {
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition:  0.3s ease;
}

.pdf{
    text-align: center;
}

.pdf>a{
    text-decoration: none;
    padding: 8px 15px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: var(--border-radius);
}




